.search {
    -webkit-appearance: none;
    text-decoration-color: ivory;
    
    border: none;
    border: 1px solid rgb(17, 17, 17);
    outline: none;
    padding: 10px;
    width : 200px;
    height: 30px;
    border-radius: 15px;
    line-height: 30px;
   
    margin-bottom: 50px;
}